.profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  width: 410px;
}

.profile__header {
  margin: 70px 0 0;
  padding: 0 0 123px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.profile__input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.profile__input-field:last-of-type {
  border-bottom: none;
  margin-bottom: 220px;
}

.profile__form-label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  display: block;
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.profile__error-message {
  position: absolute;
  top: 58px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff3055;
}

.profile__submit-button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.profile__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__submit-button_disabled {
  color: #8b8b8b;
  cursor: not-allowed;
}

.profile__caption {
  width: 100%;
  padding: 0;
  margin-top: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
}

.profile__caption-link {
  text-decoration: none;
  color: #ff3055;
}

.profile__caption-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__header {
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 440px) {
  .profile-content {
    max-width: 386px;
  }
  .profile__header {
    padding-bottom: 80px;
  }
  .profile__submit-button {
    margin-bottom: 16px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .profile__caption {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 40px;
  }
  .profile__input-field:last-of-type {
    border-bottom: none;
  }
}

@media screen and (max-width: 390px) {
  .profile-content {
    max-width: 320px;
  }
}

@media screen and (max-width: 340px) {
  .profile-content {
    max-width: 260px;
  }
}
