.header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_theme_dark {
  background-color: #073042;
}

.header__logo {
  margin-left: 70px;
  height: 38px;
  width: 38px;
}

.header__buttons {
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__buttons:hover {
  opacity: 0.8;
}

.header__button_signup {
  color: #ffffff;
  text-decoration: none;
  padding-right: 30px;
}

.header__button_signin {
  display: block;
  padding: 8px 20px;
  background: #2be080;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .header__logo {
    margin-left: 30px;
  }
  .header__buttons {
    margin-right: 30px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    margin-left: 14px;
  }
  .header__buttons {
    margin-right: 14px;
    font-size: 12px;
  }
}
