.register {
  width: 100%;
  max-width: 396px;
  margin: 60px auto 0;
}

.register__header {
  margin: 0;
  padding: 0 0 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #000000;
}

.register__input {
  display: block;
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 10px 0 20px;
  padding: 15px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.register__input:last-of-type {
  margin: 0 0 91px;
}

.register__submit-button {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  font-family: "Inter", Arial, sans-serif;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.register__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register__caption {
  width: 100%;
  padding: 0;
  margin-bottom: 70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color:#A0A0A0;
}

.register__caption-link {
  text-decoration: none;
  color: #3456F3;
}

.register__caption-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 470px) {
  .register__input:last-of-type {
    margin: 0 0 173px;
  }
  .register__submit-button {
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 430px) {
  .register {
    width: 100%;
    max-width: 260px;
    margin-top: 40px;
  }

  .register__header {
    width: 100%;
    max-width: 260px;
    margin-top: 40px;
    padding: 0 0 40px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

/* вынести классы в отдельный элемент*/
.form-label {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}
