.sidebar-menu {
  display: flex;
  visibility: hidden;
  transition: opacity 1s, visibility 0.9s ease-out;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar-menu_opened {
  display: flex;
  visibility: visible;
}

.sidebar-menu__content {
  display: block;
  width: 100%;
  max-width: 520px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -520px;
  background-color: #ffffff;
  /*transform: translate(-500px, 0);
  transition: transform 0.4s;*/
  transition: right 1s ease-in-out;
}

.sidebar-menu__content_animated {
  right: 0px;
  transition: right 1.2s ease-in-out;
}

.sidebar-menu__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 159px;
  height: calc(100vh - 200px);
}

.sidebar-menu__link {
  display: block;
  margin-bottom: 28px;
  text-decoration: none;
  color: #000000;
}

.sidebar-menu__link_active {
  text-decoration: underline;
  
}

.sidebar-menu__link:hover {
  opacity: 0.7;
}

.sidebar__link-account {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__link-account-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sidebar__link-account-icon {
  margin-left: 17px;
  padding: 8px;
  background: #f9f9f9;
  border-radius: 4px;
}

.sidebar-menu__close-button {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 29px;
  right: 29px;
  background-color: transparent;
  background-image: url(../../images/close-button_icon-min.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar-menu__close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .sidebar-menu__links {
    height: calc(100vh - 250px);
  }
}
